@import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/rfs/scss";


// Home Page

#img-col {
  img {
    height: 50vh;
    object-fit: contain;
  }
}

// Carousel Details Page

#carousel-details img {
  width: 100%;
  height: 100%;
  height: 50vh;
  object-fit: cover;
}

// Pack Selection, Book and Details Page

.card-input:hover {
  cursor: pointer;
}

input.btn, p.btn {
  cursor: text !important;
}

p.btn {
  user-select: none;
  -webkit-user-select: none;
}

.card-input {
  color: theme-color('primary');
  border-color: theme-color('primary');
}

.card-input-element:checked + .card-input {
  color: theme-color('light');
  background-color: theme-color('primary');
}

// Details Calendar

#calendar {
  .col {
      @include rfs(12px);
      cursor: default;
  }

  .date-item {
    color: theme-color('secondary');

    cursor: default;
  }

  .clickeable {
    color: theme-color('primary');

    cursor: pointer;
  }

  .clickeable:hover {
    color: theme-color('secondary');
  }

  .clicked {
    color: theme-color('warning');
  }
}

// Pack Selection, Booking page
// Need variable font --> do not work here

// Stripe payment, Booking page

// div#payment-card-element {
//   border-style: solid;
//   border-color: theme-color('primary');
//   border-radius: 12px;
// }
