@import "../node_modules/bootstrap/scss/bootstrap";

#carousel-details img {
  width: 100%;
  height: 100%;
  height: 50vh;
  object-fit: cover;
}

.card-input:hover {
  cursor: pointer;
}

input.btn, p.btn {
  cursor: text !important;
}

p.btn {
  user-select: none;
  -webkit-user-select: none;
}

.card-input {
  color: theme-color('dark');
  border-color: theme-color('dark');
}

.card-input-element:checked + .card-input {
  color: theme-color('light');
  background-color: theme-color('dark');
}
