extends layout

block content
  div.modal.text-center#calendar
    div.modal-dialog
      div.modal-content
        div.modal-header
          h5.modal-title Calendrier
          button.close(type='button', data-dismiss='modal', aria-lable='Close')
            span(aria-hidden='true') &times;
        div.modal-body
          div.container-fluid
            div.alert.alert-warning.d-none.mb-3#calendar-error(role='alert') Les dates choisies ne sont pas valides.
            div.row.mb-3
              div.col.text-left
                button.btn.btn-secondary#previous(type='button') &lt;
              div.col.btn#month Month
              div.col.text-right
                button.btn.btn-secondary#next(type='button') &gt;
            div.row.mb-3
              div.col.px-1 L
              div.col.px-1 M
              div.col.px-1 M
              div.col.px-1 J
              div.col.px-1 V
              div.col.px-1 S
              div.col.px-1 D    
            div#calendar-dates 
        div.modal-footer
          button.btn.btn-primary#calendar-save-btn(type='button') Sauvegarder
  
  form.needs-validation#confirmation-form(method='POST', action='', novalidate)  
    div.container.my-5
      h1 Réservation
    div.container.alert.alert-warning.d-none.mb-3#form-error(role='alert') Certains champs ne sont pas valides.
    div.container
      div.row
        div.col-lg-4.order-lg-2.mb-5
          button.btn.btn-primary.btn-block.mb-5#calendar-button(type='button', data-toggle='modal', data-target='#calendar') Choisir ses dates
          input#calendar-input-arrival(type='hidden', name='date-arrival', value='', required)
          input#calendar-input-departure(type='hidden', name='date-departure', value='', required)
          div.row
            div.col-sm-4
              label.w-100
                input.d-none.card-input-element(type='checkbox', name='pack-family')
                div.card.card-input
                  div.card-body
                    div.row
                      div.col-8.col-sm-12
                        h6.card-heading.mb-3.font-weight-light Pack Famille
                      div.col-4.col-sm-12
                        p.card-text.text-center.font-weight-light= ' 30 €'
            div.col-sm-4
              label.w-100
                input.d-none.card-input-element(type='checkbox', name='pack-trip', checked)
                div.card.card-input
                  div.card-body
                    div.row
                      div.col-8.col-sm-12
                        h6.card-heading.mb-3.font-weight-light Pack Voyage
                      div.col-4.col-sm-12
                        p.card-text.text-center.font-weight-light= ' 45 €'
            div.col-sm-4
              label.w-100        
                input.d-none.card-input-element(type='checkbox', name='pack-all')
                div.card.card-input
                  div.card-body
                    div.row
                      div.col-8.col-sm-12
                        h6.card-heading.mb-3.font-weight-light Pack Intégral
                      div.col-4.col-sm-12
                        p.card-text.text-center.font-weight-light= ' 80 €'
                  
        div.col-lg-8.order-lg-1.pr-lg-5
          h4 Adresse de facturation
          div.row
            div.col-lg-6.mb-3
              label(for='first-name') Prénom
              input.form-control(name='first-name', type='text', required)
              div.invalid-feedback Prénom nécessaire
            div.col-lg-6.mb-3
              label(for='last-name') Nom de famille
              input.form-control(name='last-name', type='text', required)
              div.invalid-feedback Nom de famille nécessaire
          div.mb-3
            label(for='email') Email
            input.form-control(name='email', type='email', placeholder='abc@exemple.com', required)
            div.invalid-feedback Email nécessaire
          div.mb-3
            label(for='address') Adresse
            input.form-control(name='address', type='text', placeholder='1234 Rue ABC', required)
            div.invalid-feedback Adresse nécessaire
          div.row
            div.col-lg-4.mb-3
              label(for='zip') Code postal
              input.form-control(name='zip', type='text', required)
              div.invalid-feedback Code postal invalide
            div.col-lg-8.mb-3
              label(for='city') Ville
              input.form-control(name='city', type='text', required)
              div.invalid-feedback Nom de ville invalide
          div.mb-3
            label(for='country') Pays
            select.custom-select.form-control.d-block.w-100#country(name='country', required)
              option(value='france' selected) France
              option(value='spain') Espagne
              option(value='italy') Italie
              option(value='germany') Allemagne
              option(value='other') Autre
            div.invalid-feedback Pays invalide
          hr.mb-4
          button.btn.btn-primary.btn-lg.btn-block(type='submit') Confirmer
              
          
      
block scripts
  script(src="/javascripts/pack-form.js", defer)
  script(src="/javascripts/calendar.js", defer)
  script(src="/javascripts/load-session.js", defer)
  
  script(src="/javascripts/form-validation.js", defer)
        
