extends layout

block custom-style
  link(rel='stylesheet', href='/stylesheets/bg-home.css')

block content
  div.container.mt-5
    h1.display-4.my-4 Les Pieds Dans L'Herbe
    
    div.row.my-5
      div.col.col-lg-4.mb-5.text-center
        a.btn.btn-primary.btn-lg.btn-block.rounded-pill.mb-3(href="/details") Réserver le gîte
        div.row
          div.col.text-right
            p à partir de 65 € la nuit
            
            
    div.row.mb-3.g-2
      div.col-lg-4.col-6.mb-3
        div.bg-light.h-100.p-3.rounded
          ul.list-unstyled.text-center
            li.pt-4  Terrain de 170m&sup2;
      div.col-lg-4.col-6.mb-3
        div.bg-light.h-100.p-3.rounded
          ul.list-unstyled.text-center
            li.mb-2.pt-2 Quatre lits doubles
            li Deux lits simples
      div.col-lg-4.col-6.mb-3
        div.bg-light.h-100.p-3.rounded
          ul.list-unstyled.text-center
            li.mb-2.pt-2 Télévision
            li Satelitte
      div.col-lg-4.col-6.mb-3
        div.bg-light.h-100.p-3.rounded
          ul.list-unstyled.text-center
            li.pt-4 Internet illimité
      div.col-lg-4.col-6.mb-3
        div.bg-light.h-100.p-3.rounded
          ul.list-unstyled.text-center
            li.pt-4  Cuisine équipée
      div.col-lg-4.col-6.mb-3
        div.bg-light.h-100.p-3.rounded
          ul.list-unstyled.text-center
            li.mb-2.pt-2 Quatre salles d'eau
            li Deux toilettes
      
    //-div.row.mb-3
      div.col-lg-4.col-6.mb-3.my-auto
        div.card.mb-3.mr-3.h-100.my-auto
          div.card-body.pb-1.mx-auto.align-items-center
            ul.list-unstyled
              li Terrain de 170m&sup2;
      div.col-lg-4.col-6.mb-3.my-auto
        div.card.mb-3.mr-3.h-100.d-flex.my-auto
          div.card-body.pb-1.mx-auto.align-items-center
            ul.list-unstyled
              li Quatre lits doubles
              li Deux lits simples
      div.col-lg-4.col-6.mb-3.my-auto
        div.card.mb-3.mr-3.h-100.d-flex
          div.card-body.pb-1.mx-auto.align-items-center
            ul.list-unstyled
              li Télévision
              li Satelitte
      div.col-lg-4.col-6.mb-3.my-auto
        div.card.mb-3.mr-3.h-100.d-flex
          div.card-body.pb-1.mx-auto.align-items-center
            ul.list-unstyled
              li Internet illimité
      div.col-lg-4.col-6.mb-3.my-auto
        div.card.mb-3.mr-3.h-100.d-flex
          div.card-body.pb-1.mx-auto.align-items-center
            ul.list-unstyled
              li Cuisine équipée
      div.col-lg-4.col-6.mb-3.my-auto
        div.card.mb-3.mr-3.h-100.d-flex
          div.card-body.pb-1.mx-auto.align-items-center
            ul.list-unstyled
              li Quatre salles d'eau
              li Deux toilettes
    
    div.row
    div.row.mb-5  
      div.col-lg-8.mb-4
        h1 Lorem ipsum dolor
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        h2 Sit Amet
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        h2 Consectetur
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        h3 Adipisicing
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        h3 Elit
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.        
      
      
      div.col-lg-4.h-100.d-none.d-lg-block
        div.row.my-5
          div.col-lg-5
            img.w-100(src='/images/icons/svg/nature.svg')
          div.col-lg-7
        div.row.my-5
          div.col-lg-5.order-lg-2
            img.w-100(src='/images/icons/svg/bedroom.svg')
          div.col-lg-7
        div.row.my-5
          div.col-lg-5
            img.w-100(src='/images/icons/svg/tv.svg')
          div.col-lg-7
        div.row.my-5
          div.col-lg-5.order-lg-2
            img.w-100(src='/images/icons/svg/web-search.svg')
          div.col-lg-7
        div.row.my-5
          div.col-lg-5
            img.w-100(src='/images/icons/svg/cook.svg')
          div.col-lg-7
        div.row.my-5
          div.col-lg-5.order-lg-2
            img.w-100(src='/images/icons/svg/wash-hands.svg')
          div.col-lg-7
        
  div.carousel.slide.h-100.mb-5#carousel-home(data-bs-ride='carousel-home')
    ol.carousel-indicators
      li.active(data-target='#carousel-home', data-slide-to='0')
      li(data-target='#carousel-home', data-slide-to='1')
      li(data-target='#carousel-home', data-slide-to='2')
      li(data-target='#carousel-home', data-slide-to='3')
    div.carousel-inner
      div.carousel-item.active(data-interval='5000')
        img.d-block.img-fluid(src='/images/house-dane-deaner-qRfMB-IOQjE-unsplash.jpg')
      div.carousel-item(data-interval='5000')
        img.d-block.img-fluid(src='/images/house-jakari-ward-kJcSb3aLOLo-unsplash.jpg')
      div.carousel-item(data-interval='5000')
        img.d-block.img-fluid(src='/images/house-phil-hearing-U7PitHRnTNU-unsplash.jpg')
      div.carousel-item(data-interval='5000')
        img.d-block.img-fluid(src='/images/house-sidekix-media-r_y2VBvEOIE-unsplash.jpg')
    a.carousel-control-prev(href='#carousel-home', role='buttons', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carousel-home', role='buttons', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next 
                  
      //-div.col-lg-4
        div.row.align-items-center.justify-content-between
          div.col-lg-4.h-100.mb-1#img-col
            img.w-100.img-fluid(src='/images/icons/svg/nature.svg')
          div.col-lg-6.mb-3
            ul.list-group
              li.list-group-item Terrain de 170m&sup2;
        div.row.align-items-center.justify-content-between
          div.col-lg-4.h-100.mb-1.order-lg-2#img-col
            img.w-100.img-fluid(src='/images/icons/svg/bedroom.svg')
          div.col-lg-6.mb-3
            ul.list-group
              li.list-group-item Quatre lits doubles
              li.list-group-item Deux lits simples
        div.row.align-items-center.justify-content-between
          div.col-lg-4.h-100.mb-1#img-col
            img.w-100.img-fluid(src='/images/icons/svg/tv.svg')
          div.col-lg-6.mb-3
            ul.list-group
              li.list-group-item Télévision
              li.list-group-item Satelitte
        div.row.align-items-center.justify-content-between
          div.col-lg-4.h-100.mb-1.order-lg-2#img-col
            img.w-100.img-fluid(src='/images/icons/svg/web-search.svg')
          div.col-lg-6.mb-3
            ul.list-group
              li.list-group-item Internet illimité
        div.row.align-items-center.justify-content-between
          div.col-lg-4.h-100.mb-1#img-col
            img.w-100.img-fluid(src='/images/icons/svg/cook.svg')
          div.col-lg-6.mb-3
            ul.list-group
              li.list-group-item Cuisine équipée
        div.row.align-items-center.justify-content-between
          div.col-lg-4.h-100.mb-1.order-lg-2#img-col
            img.w-100.img-fluid(src='/images/icons/svg/wash-hands.svg')
          div.col-lg-6.mb-3
            ul.list-group
              li.list-group-item Quatre salles d'eau
              li.list-group-item Deux toilettes
    
