extends layout

block content
  div.background
  
  h1 Les Pieds Dans L'Herbe
  
  div.to-details
    p
      a(href="/details") Réserver le gîte
    p à partir de 65 € la nuit
  
  ul.containers
    li
      p Terrain de 170m2
    li
      p Quatre lits doubles <br> Deux lits simples
    li
      p Télévision <br> Satelitte
    li
      p Internet illimité
    li
      p Cuisiné équipée
    li
      p Quatre salle d'eau <br> Deux toilettes
