/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

/*  GENERAL */

body {
  margin: 40px 20px;
}

h1 {
  font-weight: lighter;
  color: #707070;
  font-family: sans-serif;
  font-size: 30px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

h2 {
  font-weight: lighter;
  font-family: sans-serif;
}

p {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 16px;

  color: #707070;
}

a {
  font-weight: lighter;
  color: #707070;
  text-decoration: none;
}

div.background {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;

  background-image: url('/images/background-filip-zrnzevic-QsWG0kjPQRY-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.to-details {
  width: min(100%, 560px);

  display: flex;
  flex-direction: column;

  margin: 8vh 0;
}

div.to-details p {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.15);

  text-align: right;
}

div.to-details p:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  height: 60px;
  margin: 0;

  background-color: #FFFFFF;
  border-radius: 55px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);

  font-size: 25px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

ul.containers {
  width: 100%;
  padding: 0;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

ul.containers li {
  list-style-type: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: min(max(43vw, 212px), min(43vw, 212px));
  height: min(max(43vw, 212px), min(43vw, 212px));
  margin: 0 0 20px 0;
  border-radius: 25px;

  background-color: rgba(0, 0, 0, 0.3);
  /* filter: blur(5px); */
}

ul.containers li p {
  color: #FFFFFF;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  text-align: center;
}

@media (min-width: 1300px) {
  div.to-details {
    margin: 30vh 0;
  }
  ul.containers {
    position: absolute;
    bottom: 5vh;
  }
  ul.containers li {
    background-color: rgba(0, 0, 0, 0);
  }
}
