/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

/*  ---------- */
/*  GENERAL */
/*  ---------- */

body {
  margin: 40px 20px;
}

h1 {
  font-weight: lighter;
  color: #707070;
  font-family: sans-serif;
  font-size: 30px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

h2 {
  font-weight: lighter;
  font-family: sans-serif;

  font-size: 16px;

  padding: 0 5vw;
  margin: 2vh 0 1vh;

  color: #707070;
}

p {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 16px;

  color: #707070;
}

a {
  font-weight: lighter;
  color: #707070;
  text-decoration: none;
}

div.background {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;

  background-image: url('/images/background-filip-zrnzevic-QsWG0kjPQRY-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*  ---------- */
/*  HOME */
/*  ---------- */

div.to-details {
  width: min(100%, 560px);

  display: flex;
  flex-direction: column;

  margin: 8vh 0;
}

div.to-details p {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.15);

  text-align: right;
}

div.to-details p:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  height: 60px;
  margin: 0;

  background-color: #FFFFFF;
  border-radius: 55px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);

  font-size: 25px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

ul.containers {
  width: 100%;
  padding: 0;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

ul.containers li {
  list-style-type: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: min(max(43vw, 212px), min(43vw, 212px));
  height: min(max(43vw, 212px), min(43vw, 212px));
  margin: 0 0 20px 0;
  border-radius: 25px;

  background-color: rgba(0, 0, 0, 0.3);
  /* filter: blur(5px); */
}

ul.containers li p {
  color: #FFFFFF;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  text-align: center;
}

@media (min-width: 1300px) {
  div.to-details {
    margin: 30vh 0;
  }
  ul.containers {
    position: absolute;
    bottom: 5vh;
  }
  ul.containers li {
    background-color: rgba(0, 0, 0, 0);
  }
}

/*  ---------- */
/*  DETAILS */
/*  ---------- */

div.photos {
  height: 90vw;
  width: 100vw;

  position: relative;
  right: 5vw;

  overflow-x: scroll;
  overflow-y: hidden;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

div.photo {
  width: 90vw;
  height: 90vw;

  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

div.photo:first-child {
  margin: 0 0 0 5vw;
}

div.photo:last-child {
  width: 95vw;
  padding: 0 5vw 0 0;
}

div.photo img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

div.packs {
  display: flex;
  flex-wrap: wrap;
}
div.pack {
  width: 100%;
  height: 200px;

  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  border-radius: 11px;

  margin: 3vh 0;
}

div.pack:first-child{
  margin: 5vh 0 3vh 0;
}

div.pack:last-child{
  margin: 3vh 0 5vh 0;
}

div.pack ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0;
  margin: 0;
}

div.pack li {
  list-style-type: none;
  line-height: 8px;
}

div.pack p {
  color: rgba(112, 112, 112, 0.8)
}

div.pack p:last-child{
  color: rgba(112, 112, 112, 1);
}

div.pack.selected {
  background-color: #707070;
}

div.pack.selected h2{
  color: #FFFFFF;
}

div.pack.selected p{
  color: rgba(255, 255, 255, 0.8);
}

div.pack.selected p:last-child{
  color: rgba(255, 255, 255, 1);
}

div.round-box {
  width: 100%;
  height: 40px;

  border-style: solid;
  border-width: 2px;
  border-color: #707070;
  border-radius: 24px;

  margin: 5vh 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

div.price p, div.book p {
  font-size: 20px;
}

div.book {
  background-color: #707070;
}

div.book a {
  color: #FFFFFF;
}
